## Import libraries

In [1]:
import pandas as pd
import os
import glob
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

## Create a directory to store data

In [2]:
isExist = os.path.exists('./snotel_data')
if isExist == True:
    exit
else:
    os.mkdir('./snotel_data')

In [3]:
%%bash
pwd

/Users/stanleyakor/Documents/DOWNLOAD_SNOTEL

## Read the file that contains information about SNOTEL sites

In [4]:
SNOTEL_info = pd.read_csv('./NRCS_SNOTEL_Locations_noAlaska.csv')

In [5]:
set(SNOTEL_info['State'])

{'AZ', 'CA', 'CO', 'ID', 'MT', 'NM', 'NV', 'OR', 'SD', 'UT', 'WA', 'WY'}

In [6]:
SNOTEL_info.head(3)

,Station ID,State,Network,Station Name,Latitude,Longitude,Elevation,HUC2 (2-digit),HUC2 Name,HUC4 (4-digit),...,HUC6 Name,HUC8 (8-digit),HUC8 Name,HUC10 (10-digit),HUC10 Name,HUC12 (12-digit),HUC12 Name,Report Time Zone (Offset from GMT),Start Date,End Date
0,301,CA,SNOTEL,Adin Mtn,41.23583,-120.79192,6190,18,California Region,1802,...,Upper Sacramento,18020002,Upper Pit,1802000214,Cottonwood Creek-Ash Creek,1.800000e+11,Cottonwood Creek,-8,10/1/1983,1/1/2100
1,907,UT,SNOTEL,Agua Canyon,37.52217,-112.27118,8900,16,Great Basin Region,1603,...,Escalante Desert-Sevier Lake,16030002,East Fork Sevier,1603000203,Upper East Fork Sevier River,1.600000e+11,East Fork Sevier River Headwaters,-8,10/1/1994,1/1/2100
2,916,MT,SNOTEL,Albro Lake,45.59723,-111.95902,8300,10,Missouri Region,1002,...,Missouri Headwaters,10020005,Jefferson,1002000507,Willow Creek,1.000000e+11,South Willow Creek,-8,9/1/1996,1/1/2100

## Define parameters

In [7]:
StartDate = '2021'
EndDate = '2022'
State = 'ID'
Names = list(SNOTEL_info[SNOTEL_info['State']==State]['Station Name'].values)
IDs = list(SNOTEL_info[SNOTEL_info['State']==State]['Station ID'].values)
Lat = list(SNOTEL_info[SNOTEL_info['State'] ==State]['Latitude'].values)
Lon = list(SNOTEL_info[SNOTEL_info['State'] ==State]['Longitude'].values)
Elevation = list(SNOTEL_info[SNOTEL_info['State'] ==State]['Elevation'].values)

In [8]:
# SNOTEL = pd.DataFrame({'Name':Names, 'ID':IDs, 'Latitude':Lat, 'Longitude':Lon})
# SNOTEL['State'] = State

#### For CALIFORNIA, turn on the following lines:
### It seems the site name changed from "Squaw Valley G.C." to "Palisades Tahoe "
# SNOTEL.loc[SNOTEL['ID']==784, 'Name']="Palisades Tahoe"

# ### For UTAH, turn on the following lines:
# ## There is two space between the terms on the website (if opening the url)
# SNOTEL.loc[SNOTEL['ID']==763, 'Name']="Smith  Morehouse"
# print(SNOTEL[SNOTEL['ID']==763]['Name']=='Smith  Morehouse')

SNOTEL = pd.DataFrame({'Name':Names, 'ID':IDs, 'Latitude':Lat, 'Longitude':Lon, 'Elevation':Elevation})
SNOTEL['State'] = State

SNOTEL

                Name   ID  Latitude  Longitude  Elevation State
0     Atlanta Summit  306  43.75690 -115.23907       7580    ID
1      Banner Summit  312  44.30342 -115.23447       7040    ID
2         Bear Basin  319  44.95222 -116.14293       5350    ID
3        Bear Canyon  320  43.74367 -113.93797       7900    ID
4      Bear Mountain  323  48.30577 -116.07448       5400    ID
..               ...  ...       ...        ...        ...   ...
77       Vienna Mine  845  43.79942 -114.85273       8960    ID
78       West Branch  855  45.07220 -116.45413       5560    ID
79    White Elephant  860  44.53267 -111.41085       7710    ID
80  Wildhorse Divide  867  42.75743 -112.47783       6490    ID
81      Wilson Creek  871  42.01257 -115.00278       7120    ID

[82 rows x 6 columns]

In [9]:
# Some SNOTEL sites in the Boise Rockies

Required = SNOTEL[(44.35894 >= SNOTEL['Latitude']) & (SNOTEL['Latitude'] >= 42.603153) & (-113.64972 >= SNOTEL['Longitude']) & (SNOTEL['Longitude'] >= -116.31619)]
Required

                  Name   ID  Latitude  Longitude  Elevation State
0       Atlanta Summit  306  43.75690 -115.23907       7580    ID
1        Banner Summit  312  44.30342 -115.23447       7040    ID
3          Bear Canyon  320  43.74367 -113.93797       7900    ID
7          Bogus Basin  978  43.76377 -116.09685       6340    ID
10  Camas Creek Divide  382  43.26548 -115.34530       5710    ID
11     Chocolate Gulch  895  43.76850 -114.41812       6310    ID
13           Cozy Cove  423  44.28846 -115.65508       5400    ID
17   Dollarhide Summit  450  43.60250 -114.67417       8420    ID
21              Galena  489  43.87722 -114.67250       7470    ID
22       Galena Summit  490  43.87497 -114.71363       8780    ID
23       Garfield R.S.  492  43.61040 -113.93080       6560    ID
25   Graham Guard Sta.  496  43.95380 -115.27387       5690    ID
31             Hyndman  537  43.71077 -114.15894       7620    ID
33        Jackson Peak  550  44.05092 -115.44322       7070    ID
38    Lost-Wood Divide  601  43.82432 -114.26402       7900    ID
45  Mores Creek Summit  637  43.93200 -115.66588       6100    ID
55             Prairie  704  43.50513 -115.57300       4800    ID
67     Smiley Mountain  926  43.72718 -113.83402       9520    ID
68        Soldier R.S.  769  43.48407 -114.82692       5740    ID
72       Stickney Mill  792  43.86117 -114.20902       7430    ID
74          Swede Peak  805  43.62600 -113.96887       7640    ID
75        Trinity Mtn.  830  43.62903 -115.43818       7770    ID
77         Vienna Mine  845  43.79942 -114.85273       8960    ID

In [10]:

# subset to Bogus Basin, return a dataframe with just Bogus basin
bogus_basin = Required.iloc[3].to_frame().T
bogus_basin

          Name   ID  Latitude  Longitude Elevation State
7  Bogus Basin  978  43.76377 -116.09685      6340    ID

## Retrieve data by calling getData.py script
The python script retrieves the following variable:
- PREC: PRECIPITATION ACCUMULATION
- PRCP: PRECIPITATION INCREMENT
- PRCPSA: PRECIPITATION INCREMENT – SNOW-ADJUSTED
- WTEQ: SNOW WATER EQUIVALENT
- SNRR: SNOW RAIN RATIO
If you need other variables, please visit https://wcc.sc.egov.usda.gov/reportGenerator/ and https://www.wcc.nrcs.usda.gov/web_service/AWDB_Web_Service_Reference.htm, and make corresponding changes the python script.  

The script also re-calculates SNRR based on snow-adjusted precipitation data because the original SNRR is calculated using unadjusted precipitation.

In [11]:
# for i in SNOTEL.index:
#     !python collect_snotel2.py "{SNOTEL['Name'][i]}" {SNOTEL['ID'][i]} {SNOTEL['State'][i]} {StartDate} {EndDate}

for i in bogus_basin.index:
    !python download_snotel.py "{bogus_basin['Name'][i]}" {bogus_basin['ID'][i]} {bogus_basin['State'][i]} {StartDate} {EndDate}

Start retrieving data for Bogus Basin, 978

## Move CSV files to the directory that was created earlier

In [12]:
!mv ./df_*.csv ./snotel_data/